.square{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: grey;
}