.nav {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-top: 0px;
    padding-top: 5px;
    /* justify-content: flex-end; */
    /* margin-left: 10px; */
}

.logotext {
    margin: 20px;
}

li {
    margin: 20px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

.splash {
    /* display: flex; */
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: darkslategrey;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    /* background-repeat: no-repeat; */
    background-image: url("https://images.unsplash.com/photo-1524230476179-d13bcb5e3ce6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.splash-img {
    display: block;
    /* align-items: center; */
    /* max-width: 100%; */
    /* height: 100%; */
    width: 100%;
}

.cover {
    color: #ffffff;
    font-family: 'Pinyon Script', cursive;
}

.logo {
    /* position: relative; */
    /* float: left; */
    /* text-align: left; */
    font-family: 'Pinyon Script', cursive;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

.col-sm-4 a {
    margin: 25px 20px 15px;
    min-width: 60px;
    padding: 1px;
}

.jumbotron {
    /* background-color: rgba(0, 0, 0, 1) justify-content: center; */
    padding: 0px;
    margin: 0px;
    margin-bottom: 0;
}

.text-center {
    /* padding-left: 25%; */
    text-align: center;
    margin: auto;
    justify-content: center;
}

h5 {
    color: #ffffff;
}

.largetext {
    font-size: 5em;
}

.cover {
    margin-bottom: 50px;
}

.product {
    justify-content: center;
    text-align: center;
}

.product-img {
    width: 200px;
    height: 200px;
    border-color: bisque;
    border-style: solid;
    border-width: 2px;
    /* height: 100px; */
}

.black {
    color: black;
}

.white {
    color: white;
}

.blackurls a {
    color: black;
}

.vertcenter-text {
    justify-content: center;
}

.montana {
    margin: 0%;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/1128975/pexels-photo-1128975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

#main-img {
    height: 75%;
}

.arkansas {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/1657156/pexels-photo-1657156.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.nomargins {
    margin: 0;
    margin-bottom: 0;
}

.woodsman {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 0px;
    background-image: url('https://images.pexels.com/photos/1089930/pexels-photo-1089930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

a:hover {
    color: gray;
}

.nav-butts {
    display: inline;
}

.navbar-toggler-icon {
    background-image: url('https://img.icons8.com/small/16/000000/menu.png')
}

#logo-button {
    text-align: left;
    justify-content: left;
    display: inline;
}